<?xml version="1.0" encoding="UTF-8"?>
<pluginMetaData path="bitdreamit-astm-e1381-transmission"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="plugin.xsd">
    <name>ASTM E1381 Transmission Mode (bitdreamit)</name>
    <author>Bit Dream IT</author>
    <pluginVersion>1.1.8</pluginVersion>
    <mirthVersion>4.x</mirthVersion>
    <url>https://bitdreamit.com</url>
    <description>ASTM E1381-02 lower-layer transmission framing protocol - client side.
Provides the settings panel (Frame Settings, Validation Settings, Connection
Settings, Mode) used by channel authors when configuring an ASTM E1381
destination connector. Also provides the client-side TransmissionModeClientProvider
that drives the ENQ -> ACK -> frames -> EOT send flow.</description>
    <clientClasses>
        <clientClass name="com.bitdreamit.connect.plugins.transmission.astm.client.ASTME1381TransmissionModeClientPlugin">
            <library path="bitdreamit-astm-e1381-transmission-client.jar" type="CLIENT" />
        </clientClass>
        <clientClass name="com.bitdreamit.connect.plugins.transmission.astm.client.ASTME1381ClientProvider">
            <library path="bitdreamit-astm-e1381-transmission-client.jar" type="CLIENT" />
        </clientClass>
    </clientClasses>
</pluginMetaData>
